body {
  background-color: red;
  background-image: url(866d29091c415c1c2e38782e31086204.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

